html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 1320px;
    margin-top: 25px;
}

.navbar-lighter {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .08);
    border-bottom: 1px solid #e5e5e5;
}

.navbar-lighter a {
      color: #000;
}

.navbar-lighter a:hover {
    color: #6c6c6c;
}

.border-top { border-top: 1px solid #e5e5e5; }

.errorss {
  text-align: center;
  color: red;
}

#errorList {
  text-align: center;
  color: red;
  list-style: none;
}
